body{
    background-color: lightskyblue;
}

.header{
    position: relative;
top: 40px;
font-size:40px;
       }


#two-button{
    float: right;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 400px;
    right: 500px;
    z-index: 99;
    font-size: 22px;
}

#five-button{
    float: right;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 400px;
    right: 300px;
    z-index: 99;
    font-size: 22px;
}

#seven-button{
    float: right;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 400px;
    right: 100px;
    z-index: 99;
    font-size: 22px;
}


#next-button{
    float: right;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 600px;
    right: 100px;
    z-index: 99;
    font-size: 22px;
    display: none;
}